DATABASE_URL="postgresql://user:pass@host:5432/meda"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
GROQ_API_KEY=""
ESEWA_PRODUCT_CODE="EPAYTEST"
ESEWA_SECRET_KEY="8gBm/:&EA^EQ"
ESEWA_FORM_URL="https://rc-epay.esewa.com.np/api/epay/main/v2/form"
ESEWA_STATUS_URL="https://rc.esewa.com.np/api/epay/transaction/status/"
KHALTI_SECRET_KEY="live_secret_key_xxxxx"
KHALTI_BASE_URL="https://dev.khalti.com/api/v2"
